/* layout.css - filtered: only used YouTube component styles */

:root {
    --t7f4f2c6d54836ce0: initial;
    --t7d8b8e5ee291aec0: initial;
    --t4726c68ef6d7b08f: initial;
    --tf0a0d1154827847f: initial;
    --t3e41d7b17b187f69: initial;
    --t854c79338d8ca8a7: initial;
    --t20480717de80f555: initial;
    --t2d807bb79e75606d: initial;
    --t617db776af0de196: initial;
    --tb628117fc164ad87: initial;
    --td545df04e2c659d7: initial;
    --t53991d599b1488f5: initial;
    --ta889dfda9605a358: initial;
    --t5978da8d584b8fe9: initial;
    --tdbe50d27d51f5093: initial;
    --t99f774684cbb9703: initial;
    --tb8b31ac562fbe9b5: initial;
    --tef70ca245445b52b: initial;
    --t1405e70a39276293: initial;
    --tad8443faed66c111: initial;
    --te6d2b428de68554a: initial;
    --tc980c5478124c8c7: initial;
    --t965644ecdbe4b7b8: initial;
    --tb14a10c3b43a15a3: initial;
    --tb13ff8797829e79e: initial;
    --te5668e6111aba0ed: initial;
    --ta7d628facfe84d18: initial;
    --tbe42269534655e67: initial;
    --tab8059236063cadb: initial;
    --t735e435a8b7ad67c: initial;
    --t21af08fdbf6a1406: initial;
    --tc604113d09fee05d: initial;
    --t08a7c6c176cbc5c2: initial;
    --t8cdc9846a76caf1f: initial;
    --te1b64e6971040396: initial;
    --t416e5931fc464589: initial;
    --tb7d74bb3291c951d: initial;
    --tf3fc855af2285f5f: initial;
    --t0a1249f7c9e82b5e: initial;
    --t02c0a2c868c14ce8: initial;
    --td8562cdc203bc683: initial;
    --t53dda9125e8d1324: initial;
    --t544e31714f63d53c: initial;
    --t518e925f61bdcb91: initial;
    --t832f22ce6618e99e: initial;
    --t45b2a38314924357: initial;
    --t6931aa1826b373b2: initial;
    --ted4236536899e4b3: initial;
    --t296c7f81dd09a9c3: initial;
    --tfa3475c508f5dfef: initial;
    --t9bc0b740242da017: initial;
    --t441a0e44e495381a: initial;
    --tde41338fc2bd4ba5: initial;
    --t4d7776c28db21122: initial;
    --t7e34d5baa4ea6277: initial;
    --tc4b26042d4cb141f: initial;
    --t5208fd177a788cfa: initial;
    --tffc2fd3a644f6275: initial;
    --t6216186c28b3834b: initial;
    --t4a6da19e16bf221a: initial;
    --td9c19f4f8cecd56e: initial;
    --t3f3bdb4140d3ead7: initial;
    --t904a88c623ca27ab: initial;
    --t2c3bbff6c15a3eb2: initial;
    --t0ccd1ace000d5e93: initial;
    --tc87f6a7f05e65fc4: initial;
    --tc04ba3e73561953c: initial;
    --t7c4965c11f8537c0: initial;
    --t432fbdbd7f2f3f71: initial;
    --taf1bdd961423c15f: initial;
    --t9d7bdcaefc975d44: initial;
    --t4fb0f67b251e1a42: initial;
    --ta08e036410c14538: initial;
    --t7f9b7e1603e20b94: initial
}

:root {
    --yt-attributed-string-link-hover-color: unset
}

.ytCoreImageHost {
    visibility: hidden;
    display: inline-block;
    min-height: 1px;
    min-width: 1px
}

.ytCoreImageLoaded {
    visibility: inherit
}

.ytCoreImageFillParentHeight {
    height: 100%
}

.ytCoreImageFillParentWidth {
    width: 100%
}

.ytCoreImageObjectPositionTopLeft {
    object-position: top left
}

.ytCoreImageObjectPositionTopRight {
    object-position: top right
}

.ytCoreImageContentModeScaleToFill {
    object-fit: fill
}

.ytCoreImageContentModeScaleAspectFit {
    object-fit: contain
}

.ytCoreImageContentModeScaleAspectFill {
    object-fit: cover
}

.ytCoreImageContentModeCenter {
    object-fit: none;
    object-position: center center
}

.ytCoreImageFlipRtl {
    transform: scaleX(-1)
}

.ytSpecButtonViewModelHost {
    display: flex
}

.animatedRollingCharacterHost {
    display: inline
}

.animatedRollingNumberHost {
    font-family: Roboto,"Arial",sans-serif;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    overflow: hidden
}

:root {
    --yt-light-rim-color: unset
}

.ytSpecIconShapeHost {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%
}

.YtQrCodeRendererHostLabels>.yt-core-attributed-string::after {
    content: " "
}



tp-yt-iron-dropdown {
    position: fixed
}

#contentWrapper.tp-yt-iron-dropdown>* {
    overflow: auto
}

#contentWrapper.animating.tp-yt-iron-dropdown>* {
    overflow: hidden;
    pointer-events: none
}

tp-yt-paper-spinner {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
    font-size: 0;
    --paper-spinner-container-rotation-duration: 1568ms;
    --paper-spinner-expand-contract-duration: 1333ms;
    --paper-spinner-full-cycle-duration: 5332ms;
    --paper-spinner-cooldown-duration: 400ms
}

#spinnerContainer.tp-yt-paper-spinner {
    width: 100%;
    height: 100%;
    direction: ltr
}

#spinnerContainer.active.tp-yt-paper-spinner {
    -webkit-animation: container-rotate var(--paper-spinner-container-rotation-duration) linear infinite;
    animation: container-rotate var(--paper-spinner-container-rotation-duration) linear infinite
}

@-webkit-keyframes container-rotate {
    to {
        -webkit-transform: rotate(1turn)
    }
}

@keyframes container-rotate {
    to {
        transform: rotate(1turn)
    }
}

.spinner-layer.tp-yt-paper-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    white-space: nowrap;
    color: var(--paper-spinner-color,#4285f4)
}

.layer-1.tp-yt-paper-spinner {
    color: var(--paper-spinner-layer-1-color,#4285f4)
}

.layer-2.tp-yt-paper-spinner {
    color: var(--paper-spinner-layer-2-color,#db4437)
}

.layer-3.tp-yt-paper-spinner {
    color: var(--paper-spinner-layer-3-color,#f4b400)
}

.layer-4.tp-yt-paper-spinner {
    color: var(--paper-spinner-layer-4-color,#0f9d58)
}

.active.tp-yt-paper-spinner .spinner-layer.tp-yt-paper-spinner {
    -webkit-animation-name: fill-unfill-rotate;
    -webkit-animation-duration: var(--paper-spinner-full-cycle-duration);
    -webkit-animation-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-animation-iteration-count: infinite;
    animation-name: fill-unfill-rotate;
    animation-duration: var(--paper-spinner-full-cycle-duration);
    animation-timing-function: cubic-bezier(.4,0,.2,1);
    animation-iteration-count: infinite;
    opacity: 1
}

.active.tp-yt-paper-spinner .spinner-layer.layer-1.tp-yt-paper-spinner {
    -webkit-animation-name: fill-unfill-rotate,layer-1-fade-in-out;
    animation-name: fill-unfill-rotate,layer-1-fade-in-out
}

.active.tp-yt-paper-spinner .spinner-layer.layer-2.tp-yt-paper-spinner {
    -webkit-animation-name: fill-unfill-rotate,layer-2-fade-in-out;
    animation-name: fill-unfill-rotate,layer-2-fade-in-out
}

.active.tp-yt-paper-spinner .spinner-layer.layer-3.tp-yt-paper-spinner {
    -webkit-animation-name: fill-unfill-rotate,layer-3-fade-in-out;
    animation-name: fill-unfill-rotate,layer-3-fade-in-out
}

.active.tp-yt-paper-spinner .spinner-layer.layer-4.tp-yt-paper-spinner {
    -webkit-animation-name: fill-unfill-rotate,layer-4-fade-in-out;
    animation-name: fill-unfill-rotate,layer-4-fade-in-out
}

@-webkit-keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg)
    }

    25% {
        -webkit-transform: rotate(270deg)
    }

    37.5% {
        -webkit-transform: rotate(405deg)
    }

    50% {
        -webkit-transform: rotate(540deg)
    }

    62.5% {
        -webkit-transform: rotate(675deg)
    }

    75% {
        -webkit-transform: rotate(810deg)
    }

    87.5% {
        -webkit-transform: rotate(945deg)
    }

    to {
        -webkit-transform: rotate(3turn)
    }
}

@keyframes fill-unfill-rotate {
    12.5% {
        transform: rotate(135deg)
    }

    25% {
        transform: rotate(270deg)
    }

    37.5% {
        transform: rotate(405deg)
    }

    50% {
        transform: rotate(540deg)
    }

    62.5% {
        transform: rotate(675deg)
    }

    75% {
        transform: rotate(810deg)
    }

    87.5% {
        transform: rotate(945deg)
    }

    to {
        transform: rotate(3turn)
    }
}

@-webkit-keyframes layer-1-fade-in-out {
    0% {
        opacity: 1
    }

    25% {
        opacity: 1
    }

    26% {
        opacity: 0
    }

    89% {
        opacity: 0
    }

    90% {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

@keyframes layer-1-fade-in-out {
    0% {
        opacity: 1
    }

    25% {
        opacity: 1
    }

    26% {
        opacity: 0
    }

    89% {
        opacity: 0
    }

    90% {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes layer-2-fade-in-out {
    0% {
        opacity: 0
    }

    15% {
        opacity: 0
    }

    25% {
        opacity: 1
    }

    50% {
        opacity: 1
    }

    51% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

@keyframes layer-2-fade-in-out {
    0% {
        opacity: 0
    }

    15% {
        opacity: 0
    }

    25% {
        opacity: 1
    }

    50% {
        opacity: 1
    }

    51% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

@-webkit-keyframes layer-3-fade-in-out {
    0% {
        opacity: 0
    }

    40% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    75% {
        opacity: 1
    }

    76% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

@keyframes layer-3-fade-in-out {
    0% {
        opacity: 0
    }

    40% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    75% {
        opacity: 1
    }

    76% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

@-webkit-keyframes layer-4-fade-in-out {
    0% {
        opacity: 0
    }

    65% {
        opacity: 0
    }

    75% {
        opacity: 1
    }

    90% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes layer-4-fade-in-out {
    0% {
        opacity: 0
    }

    65% {
        opacity: 0
    }

    75% {
        opacity: 1
    }

    90% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.circle-clipper.tp-yt-paper-spinner {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden
}

.spinner-layer.tp-yt-paper-spinner::after {
    content: "";
    left: 45%;
    width: 10%;
    border-top-style: solid
}

.spinner-layer.tp-yt-paper-spinner::after,.circle-clipper.tp-yt-paper-spinner .circle.tp-yt-paper-spinner {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    border-width: var(--paper-spinner-stroke-width,3px);
    border-radius: 50%
}

.circle-clipper.tp-yt-paper-spinner .circle.tp-yt-paper-spinner {
    bottom: 0;
    width: 200%;
    border-style: solid;
    border-bottom-color: transparent!important
}

.circle-clipper.left.tp-yt-paper-spinner .circle.tp-yt-paper-spinner {
    left: 0;
    border-right-color: transparent!important;
    -webkit-transform: rotate(129deg);
    transform: rotate(129deg)
}

.circle-clipper.right.tp-yt-paper-spinner .circle.tp-yt-paper-spinner {
    left: -100%;
    border-left-color: transparent!important;
    -webkit-transform: rotate(-129deg);
    transform: rotate(-129deg)
}

.active.tp-yt-paper-spinner .gap-patch.tp-yt-paper-spinner::after,.active.tp-yt-paper-spinner .circle-clipper.tp-yt-paper-spinner .circle.tp-yt-paper-spinner {
    -webkit-animation-duration: var(--paper-spinner-expand-contract-duration);
    -webkit-animation-timing-function: cubic-bezier(.4,0,.2,1);
    -webkit-animation-iteration-count: infinite;
    animation-duration: var(--paper-spinner-expand-contract-duration);
    animation-timing-function: cubic-bezier(.4,0,.2,1);
    animation-iteration-count: infinite
}

.active.tp-yt-paper-spinner .circle-clipper.left.tp-yt-paper-spinner .circle.tp-yt-paper-spinner {
    -webkit-animation-name: left-spin;
    animation-name: left-spin
}

.active.tp-yt-paper-spinner .circle-clipper.right.tp-yt-paper-spinner .circle.tp-yt-paper-spinner {
    -webkit-animation-name: right-spin;
    animation-name: right-spin
}

@-webkit-keyframes left-spin {
    0% {
        -webkit-transform: rotate(130deg)
    }

    50% {
        -webkit-transform: rotate(-5deg)
    }

    to {
        -webkit-transform: rotate(130deg)
    }
}

@keyframes left-spin {
    0% {
        transform: rotate(130deg)
    }

    50% {
        transform: rotate(-5deg)
    }

    to {
        transform: rotate(130deg)
    }
}

@-webkit-keyframes right-spin {
    0% {
        -webkit-transform: rotate(-130deg)
    }

    50% {
        -webkit-transform: rotate(5deg)
    }

    to {
        -webkit-transform: rotate(-130deg)
    }
}

@keyframes right-spin {
    0% {
        transform: rotate(-130deg)
    }

    50% {
        transform: rotate(5deg)
    }

    to {
        transform: rotate(-130deg)
    }
}

#spinnerContainer.cooldown.tp-yt-paper-spinner {
    -webkit-animation: container-rotate var(--paper-spinner-container-rotation-duration) linear infinite,fade-out var(--paper-spinner-cooldown-duration) cubic-bezier(.4,0,.2,1);
    animation: container-rotate var(--paper-spinner-container-rotation-duration) linear infinite,fade-out var(--paper-spinner-cooldown-duration) cubic-bezier(.4,0,.2,1)
}

@-webkit-keyframes container-rotate {
    to {
        -webkit-transform: rotate(1turn)
    }
}

@keyframes container-rotate {
    to {
        transform: rotate(1turn)
    }
}

@-webkit-keyframes fill-unfill-rotate {
    12.5% {
        -webkit-transform: rotate(135deg)
    }

    25% {
        -webkit-transform: rotate(270deg)
    }

    37.5% {
        -webkit-transform: rotate(405deg)
    }

    50% {
        -webkit-transform: rotate(540deg)
    }

    62.5% {
        -webkit-transform: rotate(675deg)
    }

    75% {
        -webkit-transform: rotate(810deg)
    }

    87.5% {
        -webkit-transform: rotate(945deg)
    }

    to {
        -webkit-transform: rotate(3turn)
    }
}

@keyframes fill-unfill-rotate {
    12.5% {
        transform: rotate(135deg)
    }

    25% {
        transform: rotate(270deg)
    }

    37.5% {
        transform: rotate(405deg)
    }

    50% {
        transform: rotate(540deg)
    }

    62.5% {
        transform: rotate(675deg)
    }

    75% {
        transform: rotate(810deg)
    }

    87.5% {
        transform: rotate(945deg)
    }

    to {
        transform: rotate(3turn)
    }
}

@-webkit-keyframes layer-1-fade-in-out {
    0% {
        opacity: 1
    }

    25% {
        opacity: 1
    }

    26% {
        opacity: 0
    }

    89% {
        opacity: 0
    }

    90% {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

@keyframes layer-1-fade-in-out {
    0% {
        opacity: 1
    }

    25% {
        opacity: 1
    }

    26% {
        opacity: 0
    }

    89% {
        opacity: 0
    }

    90% {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes layer-2-fade-in-out {
    0% {
        opacity: 0
    }

    15% {
        opacity: 0
    }

    25% {
        opacity: 1
    }

    50% {
        opacity: 1
    }

    51% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

@keyframes layer-2-fade-in-out {
    0% {
        opacity: 0
    }

    15% {
        opacity: 0
    }

    25% {
        opacity: 1
    }

    50% {
        opacity: 1
    }

    51% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

@-webkit-keyframes layer-3-fade-in-out {
    0% {
        opacity: 0
    }

    40% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    75% {
        opacity: 1
    }

    76% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

@keyframes layer-3-fade-in-out {
    0% {
        opacity: 0
    }

    40% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    75% {
        opacity: 1
    }

    76% {
        opacity: 0
    }

    to {
        opacity: 0
    }
}

@-webkit-keyframes layer-4-fade-in-out {
    0% {
        opacity: 0
    }

    65% {
        opacity: 0
    }

    75% {
        opacity: 1
    }

    90% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes layer-4-fade-in-out {
    0% {
        opacity: 0
    }

    65% {
        opacity: 0
    }

    75% {
        opacity: 1
    }

    90% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@-webkit-keyframes left-spin {
    0% {
        -webkit-transform: rotate(130deg)
    }

    50% {
        -webkit-transform: rotate(-5deg)
    }

    to {
        -webkit-transform: rotate(130deg)
    }
}

@keyframes left-spin {
    0% {
        transform: rotate(130deg)
    }

    50% {
        transform: rotate(-5deg)
    }

    to {
        transform: rotate(130deg)
    }
}

@-webkit-keyframes right-spin {
    0% {
        -webkit-transform: rotate(-130deg)
    }

    50% {
        -webkit-transform: rotate(5deg)
    }

    to {
        -webkit-transform: rotate(-130deg)
    }
}

@keyframes right-spin {
    0% {
        transform: rotate(-130deg)
    }

    50% {
        transform: rotate(5deg)
    }

    to {
        transform: rotate(-130deg)
    }
}

ytd-vertical-product-card-renderer yt-formatted-string .yt-formatted-string[style-target=bold] {
    font-size: var(--ytd-user-comment-font-size);
    font-weight: var(--ytd-user-comment-font-weight);
    line-height: var(--ytd-user-comment-line-height);
    letter-spacing: var(--ytd-user-comment-letter-spacing);
    font-family: var(--ytd-user-comment-font-family);
    color: var(--yt-formatted-string-bold-color,inherit)
}

ytd-subscription-notification-toggle-button-renderer yt-formatted-string .yt-formatted-string[style-target=deemphasize] {
    margin-left: var(--ytd-margin-base)
}



yt-icon,.yt-icon-container.yt-icon,.ytIconWrapperHost.yt-icon {
    display: inline-flexbox;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    vertical-align: middle
}

yt-icon,.yt-icon:where(.yt-icon-container),.yt-icon:where(.ytIconWrapperHost) {
    color: var(--icon-color,currentcolor);
    fill: var(--iron-icon-fill-color,currentcolor);
    stroke: var(--iron-icon-stroke-color,none);
    width: var(--iron-icon-width,24px);
    height: var(--iron-icon-height,24px);
    margin-top: var(--iron-icon-margin-top);
    margin-right: var(--iron-icon-margin-right);
    margin-bottom: var(--iron-icon-margin-bottom);
    margin-left: var(--iron-icon-margin-left);
    padding: var(--iron-icon-padding);
    animation: var(--iron-icon-animation)
}

yt-icon.external-container {
    display: none!important
}

yt-button-renderer yt-formatted-string .yt-formatted-string[style-target=deemphasize] {
    margin-left: var(--ytd-margin-base)
}

yt-formatted-string[is-empty]:not(.use-shadow) {
    display: none
}

yt-formatted-string span.yt-formatted-string:empty {
    display: none
}

yt-formatted-string[dir=auto] {
    text-align: right
}

.bold.yt-formatted-string {
    font-weight: var(--yt-formatted-string-bold-font-weight,500)
}

.bold.strikethrough.yt-formatted-string {
    font-weight: var(--yt-formatted-string-bold-font-weight,var(--yt-formatted-string-strikethrough-font-weight,500))
}

.bold.yt-formatted-string:not(a) {
    color: var(--yt-formatted-string-bold-color,inherit)
}

.deemphasize.yt-formatted-string {
    color: var(--yt-formatted-string-deemphasize-color,var(--yt-spec-text-secondary))
}

.italic.yt-formatted-string {
    font-style: italic
}

.error-underline.yt-formatted-string {
    padding-bottom: 2px
}

yt-formatted-string:not([is-dark-theme]) .error-underline.yt-formatted-string {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHdpZHRoPSI0IiBoZWlnaHQ9IjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8bGluZSB4MT0iMCIgeDI9IjIiIHkxPSIxIiB5Mj0iMyIgc3Ryb2tlPSIjRkYwMDAwIiBzdHJva2Utd2lkdGg9IjAuNSIvPgogIDxsaW5lIHgxPSIyIiB4Mj0iNCIgeTE9IjMiIHkyPSIwIiBzdHJva2U9IiNGRjAwMDAiIHN0cm9rZS13aWR0aD0iMC41Ii8+Cjwvc3ZnPgo=") bottom repeat-x
}

yt-formatted-string[is-dark-theme] .error-underline.yt-formatted-string {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHdpZHRoPSI0IiBoZWlnaHQ9IjQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8bGluZSB4MT0iMCIgeDI9IjIiIHkxPSIxIiB5Mj0iMyIgc3Ryb2tlPSIjRkY0RTQ1IiBzdHJva2Utd2lkdGg9IjAuNSIvPgogIDxsaW5lIHgxPSIyIiB4Mj0iNCIgeTE9IjMiIHkyPSIwIiBzdHJva2U9IiNGRjRFNDUiIHN0cm9rZS13aWR0aD0iMC41Ii8+Cjwvc3ZnPgo=") bottom repeat-x
}

.strikethrough.yt-formatted-string {
    text-decoration: line-through;
    font-family: var(--yt-formatted-string-strikethrough-font-family);
    font-size: var(--yt-formatted-string-strikethrough-font-size);
    font-weight: var(--yt-formatted-string-strikethrough-font-weight);
    line-height: var(--yt-formatted-string-strikethrough-line-height)
}

.bracket.yt-formatted-string {
    padding: 2px;
    border-top: solid var(--yt-spec-themed-green) 2px;
    border-bottom: solid var(--yt-spec-themed-green) 2px;
    background: linear-gradient(135deg,var(--yt-spec-themed-green) 3px,rgba(0,0,0,0) 3px),linear-gradient(315deg,var(--yt-spec-themed-green) 3px,rgba(0,0,0,0) 3px)
}

yt-formatted-string>.emoji,yt-formatted-string>.small-emoji {
    margin: 0 2px 3px;
    vertical-align: middle
}

yt-formatted-string>.emoji {
    width: var(--yt-formatted-string-emoji-size,24px);
    height: var(--yt-formatted-string-emoji-size,24px)
}

yt-formatted-string>.emoji.small-emoji {
    width: var(--yt-formatted-string-small-emoji-size,16px);
    height: var(--yt-formatted-string-small-emoji-size,16px)
}

a.yt-formatted-string {
    color: var(--yt-spec-call-to-action)
}

a.yt-simple-endpoint.yt-formatted-string {
    color: var(--yt-endpoint-color,var(--yt-spec-call-to-action));
    display: var(--yt-endpoint-display,inline-block);
    -webkit-text-decoration: var(--yt-endpoint-text-regular-decoration,none);
    text-decoration: var(--yt-endpoint-text-regular-decoration,none);
    word-wrap: var(--yt-endpoint-word-wrap,none);
    word-break: var(--yt-endpoint-word-break,none)
}

a.yt-simple-endpoint.yt-formatted-string:visited {
    color: var(--yt-endpoint-visited-color,var(--yt-spec-call-to-action))
}

a.yt-simple-endpoint.yt-formatted-string:hover {
    color: var(--yt-endpoint-hover-color,var(--yt-spec-call-to-action));
    -webkit-text-decoration: var(--yt-endpoint-text-decoration,none);
    text-decoration: var(--yt-endpoint-text-decoration,none)
}

a.yt-simple-endpoint.yt-formatted-string.yt-formatted-string:focus-visible {
    outline-offset: 0
}

yt-formatted-string[has-link-only_]:not([force-default-style]) a.yt-simple-endpoint.yt-formatted-string {
    color: var(--yt-endpoint-color,var(--yt-spec-text-primary))
}

yt-formatted-string[has-link-only_]:not([force-default-style]) a.yt-simple-endpoint.yt-formatted-string:visited {
    color: var(--yt-endpoint-visited-color,var(--yt-spec-text-primary))
}

yt-formatted-string[has-link-only_]:not([force-default-style]) a.yt-simple-endpoint.yt-formatted-string:hover {
    color: var(--yt-endpoint-hover-color,var(--yt-spec-text-primary))
}

yt-formatted-string[contenteditable] a.yt-simple-endpoint.yt-formatted-string,#contenteditable-root.yt-formatted-string a.yt-simple-endpoint.yt-formatted-string {
    background: var(--yt-formatted-string-contenteditable-endpoint-background);
    border-radius: var(--yt-formatted-string-contenteditable-endpoint-border-radius);
    color: var(--yt-formatted-string-contenteditable-endpoint-color,var(--yt-endpoint-color,var(--yt-spec-call-to-action)));
    cursor: var(--yt-formatted-string-contenteditable-endpoint-cursor);
    max-width: var(--yt-formatted-string-contenteditable-endpoint-max-width);
    overflow: var(--yt-formatted-string-contenteditable-endpoint-overflow);
    pointer-events: var(--yt-formatted-string-contenteditable-endpoint-pointer-events);
    text-overflow: var(--yt-formatted-string-contenteditable-endpoint-text-overflow);
    vertical-align: var(--yt-formatted-string-contenteditable-endpoint-vertical-align);
    white-space: var(--yt-formatted-string-contenteditable-endpoint-white-space)
}

yt-formatted-string[split-lines] {
    white-space: pre-wrap
}

yt-formatted-string[ellipsis-truncate-styling].complex-string {
    white-space: pre;
    display: flex;
    flex-direction: row
}

yt-formatted-string[dir=auto][ellipsis-truncate-styling].complex-string {
    display: inline-block
}

yt-formatted-string[dir=auto][ellipsis-truncate-styling].complex-string>*.yt-formatted-string:not(style) {
    display: inline
}

yt-formatted-string[ellipsis-truncate-styling] {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

yt-formatted-string[ellipsis-truncate-styling] a.yt-formatted-string {
    display: block;
    margin-right: -.1em;
    padding-right: .1em;
    white-space: pre
}

yt-formatted-string[ellipsis-truncate-styling] a.yt-formatted-string:last-child,yt-formatted-string[ellipsis-truncate-styling] span.yt-formatted-string:last-child {
    overflow: hidden;
    text-overflow: ellipsis
}

yt-formatted-string::-webkit-scrollbar-thumb {
    height: 56px;
    background: var(--yt-spec-text-disabled)
}

yt-formatted-string::-webkit-scrollbar {
    width: var(--ytd-scrollbar-width)
}

#contenteditable-root.yt-formatted-string .emoji.yt-formatted-string {
    height: var(--yt-formatted-string-contenteditable-emoji-height);
    margin: var(--yt-formatted-string-contenteditable-emoji-margin);
    padding-right: var(--yt-formatted-string-contenteditable-emoji-padding-right);
    vertical-align: var(--yt-formatted-string-contenteditable-emoji-vertical-align);
    width: var(--yt-formatted-string-contenteditable-emoji-width)
}

#contenteditable-root.yt-formatted-string .small-emoji.yt-formatted-string {
    height: var(--yt-formatted-string-contenteditable-small-emoji-height);
    margin: var(--yt-formatted-string-contenteditable-small-emoji-margin);
    padding-right: var(--yt-formatted-string-contenteditable-small-emoji-padding-right);
    vertical-align: var(--yt-formatted-string-contenteditable-small-emoji-vertical-align);
    width: var(--yt-formatted-string-contenteditable-small-emoji-width)
}

#contenteditable-root.yt-formatted-string {
    outline: var(--yt-formatted-string-contenteditable-root-style-outline);
    max-height: var(--yt-formatted-string-contenteditable-root-style-max-height);
    overflow: var(--yt-formatted-string-contenteditable-root-style-overflow);
    display: var(--yt-formatted-string-contenteditable-root-style-display,block);
    overscroll-behavior: var(--yt-formatted-string-contenteditable-root-style-overscroll-behavior)
}

#contenteditable-root.yt-formatted-string[aria-label]:empty::before {
    color: var(--contenteditable-root-style-placeholder-with-aria-color);
    content: var(--contenteditable-root-style-placeholder-with-aria-content);
    cursor: var(--contenteditable-root-style-placeholder-with-aria-cursor)
}

button.yt-icon-button>yt-icon {
    width: var(--yt-icon-button-icon-width,100%);
    height: var(--yt-icon-button-icon-height,100%)
}

yt-img-shadow {
    display: inline-block;
    opacity: 0;
    transition: opacity .2s;
    flex: none
}

yt-img-shadow.no-transition {
    opacity: 1;
    transition: none
}

yt-img-shadow.with-placeholder {
    background-color: var(--yt-img-shadow-placeholder-color,transparent);
    min-height: var(--yt-img-shadow-min-height,unset);
    min-width: var(--yt-img-shadow-min-width,unset)
}

yt-img-shadow[loaded] {
    opacity: 1
}

yt-img-shadow.empty img.yt-img-shadow {
    visibility: hidden
}

yt-img-shadow[fit-height] img.yt-img-shadow {
    height: 100%;
    width: auto
}

yt-img-shadow[fit-width] img.yt-img-shadow {
    height: auto;
    width: 100%
}

yt-img-shadow[object-fit=FILL] img.yt-img-shadow,yt-img-shadow[fit] img.yt-img-shadow {
    width: 100%;
    height: 100%
}

yt-img-shadow[rounded-container] img.yt-img-shadow {
    border-radius: 8px
}

yt-img-shadow[object-fit=COVER] img.yt-img-shadow {
    width: 100%;
    height: 100%;
    object-fit: cover
}

yt-img-shadow[object-fit=CONTAIN] img.yt-img-shadow {
    width: 100%;
    height: 100%;
    object-fit: contain
}

yt-img-shadow[object-position=LEFT] img.yt-img-shadow {
    object-position: left
}

img.yt-img-shadow {
    display: block;
    margin-left: var(--yt-img-margin-left,auto);
    margin-right: var(--yt-img-margin-right,auto);
    max-height: var(--yt-img-max-height,none);
    max-width: var(--yt-img-max-width,100%);
    border-radius: var(--yt-img-border-radius,none)
}

:root {
    --t4726c68ef6d7b08f: #deffde;
    --tf0a0d1154827847f: #ffeacf;
    --tdbe50d27d51f5093: rgba(0,122,101,0.2);
    --t99f774684cbb9703: rgba(127,14,127,0.2);
    --tb8b31ac562fbe9b5: rgba(170,9,170,0.2);
    --tef70ca245445b52b: rgba(255,78,69,0.2);
    --tad8443faed66c111: #3f3f3f;
    --te6d2b428de68554a: #ecf1fb;
    --tc980c5478124c8c7: #a6c9fa;
    --t965644ecdbe4b7b8: #ecf1fb;
    --tb14a10c3b43a15a3: #fff;
    --tb13ff8797829e79e: #fff;
    --te5668e6111aba0ed: #dbe2fc;
    --ta7d628facfe84d18: #bbc6e7;
    --tbe42269534655e67: #caced6;
    --tab8059236063cadb: #171c23;
    --t735e435a8b7ad67c: #666;
    --t21af08fdbf6a1406: #2f3032;
    --tc604113d09fee05d: #46494f;
    --t4d7776c28db21122: #005917;
    --t5208fd177a788cfa: #990412;
    --t3f3bdb4140d3ead7: #7c2900;
    --t7f4f2c6d54836ce0: rgba(0,0,0,0.05);
    --t7d8b8e5ee291aec0: rgba(255,255,255,0.1);
    --t3e41d7b17b187f69: #fff;
    --t854c79338d8ca8a7: #c30027;
    --t20480717de80f555: rgba(0,0,0,0.1);
    --t2d807bb79e75606d: #065fd4;
    --t617db776af0de196: #0556bf;
    --tb628117fc164ad87: #3ea6ff;
    --td545df04e2c659d7: #c30027;
    --t53991d599b1488f5: #f57;
    --ta889dfda9605a358: rgba(255,255,255,0.9);
    --t5978da8d584b8fe9: rgba(255,255,255,0.9);
    --t1405e70a39276293: #0f0f0f;
    --t08a7c6c176cbc5c2: #fff;
    --t8cdc9846a76caf1f: #272727;
    --te1b64e6971040396: #d9d9d9;
    --t416e5931fc464589: rgba(0,0,0,0.1);
    --tb7d74bb3291c951d: rgba(255,255,255,0.2);
    --tf3fc855af2285f5f: rgba(0,0,0,0.1);
    --t0a1249f7c9e82b5e: rgba(255,255,255,0.2);
    --t02c0a2c868c14ce8: #3f3f3f;
    --td8562cdc203bc683: #e5e5e5;
    --t53dda9125e8d1324: rgba(255,255,255,0.3);
    --t544e31714f63d53c: rgba(255,255,255,0.15);
    --t518e925f61bdcb91: #fff;
    --t832f22ce6618e99e: #0f0f0f;
    --t45b2a38314924357: #e6e6e6;
    --t6931aa1826b373b2: rgba(255,255,255,0.15);
    --ted4236536899e4b3: rgba(255,255,255,0.3);
    --t296c7f81dd09a9c3: rgba(0,0,0,0.6);
    --tfa3475c508f5dfef: #def1ff;
    --t9bc0b740242da017: #dadfe6;
    --t441a0e44e495381a: #263850;
    --tde41338fc2bd4ba5: #000;
    --t7e34d5baa4ea6277: #909090;
    --tc4b26042d4cb141f: #717171;
    --tffc2fd3a644f6275: #0f0f0f;
    --t6216186c28b3834b: #fff;
    --t4a6da19e16bf221a: #606060;
    --td9c19f4f8cecd56e: #aaa;
    --t904a88c623ca27ab: #107516;
    --t2c3bbff6c15a3eb2: #2ba640;
    --t0ccd1ace000d5e93: rgba(255,255,255,0.7);
    --tc87f6a7f05e65fc4: rgba(0,0,0,0.1);
    --tc04ba3e73561953c: rgba(255,255,255,0.1);
    --t7c4965c11f8537c0: rgba(0,0,0,0.05);
    --t432fbdbd7f2f3f71: rgba(255,255,255,0.15);
    --taf1bdd961423c15f: rgba(255,255,255,0.2);
    --t9d7bdcaefc975d44: rgba(255,255,255,0.05);
    --t4fb0f67b251e1a42: #000;
    --ta08e036410c14538: #fff;
    --t7f9b7e1603e20b94: #000
}

.ytPlayerOverlayVideoDetailsRendererSubtitle .yt-core-attributed-string {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden
}

ytd-active-account-header-renderer {
    border-bottom: 1px solid var(--yt-spec-outline);
    box-sizing: border-box;
    position: relative;
    padding: 16px;
    display: flexbox;
    display: flex;
    flex-direction: row
}

#avatar.ytd-active-account-header-renderer {
    height: 40px;
    width: 40px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden
}

#channel-container.ytd-active-account-header-renderer {
    min-width: 0;
    display: flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center
}

#account-name.ytd-active-account-header-renderer {
    color: var(--yt-spec-text-primary)
}

ytd-active-account-header-renderer[enable-handles-account-menu-switcher] #account-name.ytd-active-account-header-renderer {
    font-family: var(--font-family),"Arial",sans-serif;
    line-height: var(--body-l-leading-tall);
    font-weight: var(--body-weight-default)
}

ytd-active-account-header-renderer:not([enable-handles-account-menu-switcher]) #account-name.ytd-active-account-header-renderer {
    font-family: var(--font-family),"Arial",sans-serif;
    font-size: var(--body-l-size);
    line-height: var(--body-l-leading-tall);
    font-weight: var(--body-weight-heavy)
}

#channel-handle.ytd-active-account-header-renderer {
    color: var(--yt-spec-text-primary);
    line-height: var(--body-l-leading-tall);
    font-weight: var(--body-weight-default)
}

#email.ytd-active-account-header-renderer {
    color: var(--yt-spec-text-primary);
    overflow: hidden;
    font-family: var(--font-family),"Arial",sans-serif;
    font-size: var(--body-m-size);
    line-height: var(--body-m-leading-tall);
    font-weight: var(--body-weight-default)
}

#manage-account.ytd-active-account-header-renderer {
    margin-top: 8px;
    font-family: var(--font-family),"Arial",sans-serif;
    font-size: var(--body-m-size);
    line-height: var(--body-m-leading-tall);
    font-weight: var(--body-weight-default)
}

ytd-multi-page-menu-renderer {
    display: inline-block;
    background: var(--yt-spec-menu-background);
    overflow-x: hidden!important;
    border-radius: 12px;
    box-shadow: 0 4px 32px 0 var(--yt-spec-overlay-background-light);
    backdrop-filter: blur(8px);
    display: flexbox;
    display: flex;
    flex-direction: column
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-account] {
    width: 300px
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-system] {
    width: 300px
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-creation] {
    max-width: 300px
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-comments],ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-notifications] {
    height: 642px;
    width: 480px
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-profile-card-comments] #submenu.ytd-multi-page-menu-renderer {
    display: flex;
    overflow: auto;
    max-height: 512px;
    width: 360px
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-profile-card-comments] #submenu.ytd-multi-page-menu-renderer .ytd-multi-page-menu-renderer:first-child {
    height: inherit;
    background-color: var(--yt-spec-raised-background)
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-report-channel] {
    margin: 0;
    width: 450px;
    padding: 0
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-flow] {
    margin: 0;
    width: 450px;
    padding: 0
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-tvfilm-show-provider-switcher] {
    width: 412px;
    border-radius: 2px
}

#spinner.ytd-multi-page-menu-renderer {
    max-height: calc(100vh - 56px);
    display: flexbox;
    display: flex;
    align-items: center;
    justify-content: center
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-account] #spinner.ytd-multi-page-menu-renderer {
    width: 300px;
    height: 713px
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-report-channel] #spinner.ytd-multi-page-menu-renderer {
    border-top: 1px solid var(--yt-spec-outline);
    height: 573px
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-system] #spinner.ytd-multi-page-menu-renderer {
    width: 300px;
    height: 394px
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-comments] #spinner.ytd-multi-page-menu-renderer,ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-notifications] #spinner.ytd-multi-page-menu-renderer {
    width: 100%;
    height: 100%;
    margin: 220px 0
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-flow] #spinner.ytd-multi-page-menu-renderer {
    width: 100%;
    height: 522px
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-comments] {
    --comments-header-renderer-margin-top: 0px;
    --comments-header-renderer-margin-bottom: 0px
}

#header.ytd-multi-page-menu-renderer {
    flex: none
}

#sections.ytd-multi-page-menu-renderer>ytd-background-promo-renderer.ytd-multi-page-menu-renderer {
    position: absolute;
    top: 48px;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 20px
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-notifications] #sections.ytd-multi-page-menu-renderer>*.ytd-multi-page-menu-renderer {
    padding: 0
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-report-channel] #sections.ytd-multi-page-menu-renderer>*.ytd-multi-page-menu-renderer {
    height: 420px;
    padding: 0
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-flow] #sections.ytd-multi-page-menu-renderer>*.ytd-multi-page-menu-renderer {
    height: 390px;
    padding: 0
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-tvfilm-show-provider-switcher] #sections.ytd-multi-page-menu-renderer>*.ytd-multi-page-menu-renderer {
    padding: 8px 0
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-comments] #sections.ytd-multi-page-menu-renderer>ytd-comments.ytd-multi-page-menu-renderer,ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-comments] #sections.ytd-multi-page-menu-renderer>ytd-message-renderer.ytd-multi-page-menu-renderer {
    padding: 16px 8px 16px 16px
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-switcher] #sections.ytd-multi-page-menu-renderer>*.ytd-multi-page-menu-renderer:nth-child(2) {
    border-top: 4px solid var(--yt-spec-outline);
    border-bottom: none
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-switcher] #sections.ytd-multi-page-menu-renderer>*.ytd-multi-page-menu-renderer {
    border-bottom: none
}

#sections.ytd-multi-page-menu-renderer>*.ytd-multi-page-menu-renderer:not(:last-child) {
    border-bottom: 1px solid var(--yt-spec-outline)
}

.menu-container.ytd-multi-page-menu-renderer {
    overflow-y: auto;
    scrollbar-color: transparent transparent;
    scrollbar-width: thin
}

.menu-container.ytd-multi-page-menu-renderer::-webkit-scrollbar {
    background: transparent;
    width: 8px
}

.menu-container.ytd-multi-page-menu-renderer::-webkit-scrollbar-thumb {
    height: 56px;
    background: transparent
}

.menu-container.ytd-multi-page-menu-renderer:hover {
    scrollbar-color: var(--yt-spec-text-disabled) transparent
}

.menu-container.ytd-multi-page-menu-renderer:hover::-webkit-scrollbar-thumb {
    background: var(--yt-spec-text-disabled)
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-report-channel] .menu-container.ytd-multi-page-menu-renderer {
    overflow: visible
}

#submenu.ytd-multi-page-menu-renderer {
    margin-right: 0
}

#submenu.ytd-multi-page-menu-renderer ytd-multi-page-menu-renderer.ytd-multi-page-menu-renderer {
    border: none
}

#footer.ytd-multi-page-menu-renderer>*.ytd-multi-page-menu-renderer {
    border-top: 1px solid var(--yt-spec-outline);
    padding: 8px 0
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-report-channel] #footer.ytd-multi-page-menu-renderer>*.ytd-multi-page-menu-renderer {
    padding: 8px
}

ytd-multi-page-menu-renderer[menu-style=multi-page-menu-style-type-flow] #footer.ytd-multi-page-menu-renderer>*.ytd-multi-page-menu-renderer {
    border-top: none;
    padding: 0
}

ytd-donation-amount-picker-renderer.ytd-popup-container {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0
}

ytd-toggle-theme-compact-link-renderer,.tp-yt-paper-item.ytd-toggle-theme-compact-link-renderer {
    display: block;
    position: relative;
    min-height: var(--paper-item-min-height,48px);
    padding: 0 16px
}

.tp-yt-paper-item.ytd-toggle-theme-compact-link-renderer {
    font-family: "Roboto","Noto",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    outline: none;
    background: white;
    width: 100%;
    text-align: left
}

ytd-toggle-theme-compact-link-renderer[hidden],.tp-yt-paper-item.ytd-toggle-theme-compact-link-renderer[hidden] {
    display: none!important
}

ytd-toggle-theme-compact-link-renderer.iron-selected,.tp-yt-paper-item.iron-selected.ytd-toggle-theme-compact-link-renderer {
    font-weight: var(--paper-item-selected-weight,bold);
    background: var(--paper-item-selected-background)
}

ytd-toggle-theme-compact-link-renderer[disabled],.tp-yt-paper-item.ytd-toggle-theme-compact-link-renderer[disabled] {
    color: var(--paper-item-disabled-color,var(--disabled-text-color))
}

ytd-toggle-theme-compact-link-renderer:focus,.tp-yt-paper-item.ytd-toggle-theme-compact-link-renderer:focus {
    position: relative;
    outline: 0;
    background-color: var(--paper-item-focused-background-color)
}

ytd-toggle-theme-compact-link-renderer:focus:before,.tp-yt-paper-item.ytd-toggle-theme-compact-link-renderer:focus:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: var(--paper-item-focused-before-background,currentColor);
    border-radius: var(--paper-item-focused-before-border-radius,0);
    content: var(--paper-item-focused-before-content,"");
    opacity: var(--paper-item-focused-before-opacity,var(--dark-divider-opacity,.12))
}

ytd-toggle-theme-compact-link-renderer {
    --paper-item-min-height: 40px;
    height: var(--paper-item-min-height,48px);
    color: var(--yt-spec-text-primary);
    cursor: pointer;
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: var(--ytd-toggle-theme-compact-link-renderer-display-workaround,flex)
}

#label.ytd-toggle-theme-compact-link-renderer {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-family),"Arial",sans-serif;
    font-size: var(--body-m-size);
    line-height: var(--body-m-leading-tall);
    font-weight: var(--body-weight-default);
    flex: 1;
    flex-basis: 0.000000001px
}

yt-icon.ytd-toggle-theme-compact-link-renderer,.ytIconWrapperHost.ytd-toggle-theme-compact-link-renderer {
    color: var(--yt-spec-text-primary)
}

.content-icon.ytd-toggle-theme-compact-link-renderer {
    margin-right: 5px
}

ytd-compact-link-renderer {
    --paper-item-min-height: 40px;
    display: block
}

.yt-simple-endpoint.ytd-compact-link-renderer {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--yt-endpoint-color,var(--yt-spec-text-primary))
}

ytd-compact-link-renderer:not([compact-link-style=compact-link-style-type-disclaimer]) .yt-simple-endpoint.ytd-compact-link-renderer:hover {
    color: var(--yt-endpoint-hover-color,var(--yt-spec-text-primary));
    -webkit-text-decoration: var(--yt-endpoint-text-decoration,none);
    text-decoration: var(--yt-endpoint-text-decoration,none)
}

#endpoint.yt-simple-endpoint.ytd-compact-link-renderer {
    display: block;
    cursor: pointer
}

tp-yt-paper-item.ytd-compact-link-renderer {
    color: var(--yt-compact-link-color,var(--yt-spec-text-primary));
    height: var(--paper-item-min-height,48px);
    padding: var(--yt-compact-link-paper-item-padding,0 16px)
}

ytd-compact-link-renderer:not([has-secondary]) tp-yt-paper-item.ytd-compact-link-renderer {
    padding: var(--yt-compact-link-paper-item-padding,0 36px 0 16px)
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-tvfilm-entity-provider] tp-yt-paper-item.ytd-compact-link-renderer {
    padding: var(--yt-compact-link-paper-item-padding,8px 12px)
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-tvfilm-entity-provider-attribution] tp-yt-paper-item.ytd-compact-link-renderer {
    padding: var(--yt-compact-link-paper-item-padding,5px 12px)
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-tvfilm-entity-provider-attribution] yt-img-shadow.ytd-compact-link-renderer {
    height: 32px;
    width: 32px
}

#primary-text-container.ytd-compact-link-renderer {
    text-overflow: ellipsis;
    overflow: hidden;
    display: flexbox;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: 0.000000001px
}

#label.ytd-compact-link-renderer {
    font-family: var(--font-family),"Arial",sans-serif;
    line-height: var(--body-m-leading-tall);
    font-weight: var(--body-weight-default)
}

#subtitle.ytd-compact-link-renderer {
    display: block;
    padding-left: 4px;
    font-family: var(--font-family),"Arial",sans-serif;
    font-size: var(--body-m-size);
    line-height: var(--body-m-leading-tall);
    font-weight: var(--body-weight-default);
    flex: 1;
    flex-basis: 0.000000001px
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-tvfilm-entity-provider] #primary-text-container.ytd-compact-link-renderer {
    display: flexbox;
    display: flex;
    flex-direction: column
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-tvfilm-entity-provider] #subtitle.ytd-compact-link-renderer {
    color: var(--yt-spec-text-secondary);
    padding-left: 0;
    font-family: var(--font-family),"Arial",sans-serif;
    font-size: var(--body-s-size);
    line-height: var(--body-s-leading-tall);
    font-weight: var(--body-weight-default);
    flex: none
}

yt-icon.ytd-compact-link-renderer,.ytIconWrapperHost.ytd-compact-link-renderer {
    color: var(--yt-compact-link-icon-color,var(--yt-spec-text-primary))
}

#content-icon.ytd-compact-link-renderer {
    margin-right: 16px;
    align-items: center;
    display: flexbox;
    display: flex;
    flex-direction: row;
    flex: none
}

#secondary-text.ytd-compact-link-renderer {
    background: var(--yt-spec-call-to-action);
    color: var(--yt-spec-text-primary-inverse);
    padding: 4px;
    border-radius: 2px;
    font-size: var(--yt-badge-font-size,1.2rem);
    font-weight: var(--yt-badge-font-weight,500);
    line-height: var(--yt-badge-line-height-size,1.2rem);
    letter-spacing: var(--yt-badge-letter-spacing,unset)
}

yt-img-shadow.ytd-compact-link-renderer {
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden
}

#right-icon.ytd-compact-link-renderer {
    margin-right: 0
}

#secondary-text.ytd-compact-link-renderer,#right-icon.ytd-compact-link-renderer {
    margin-left: 8px
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-account-switcher-footer] #content-icon.ytd-compact-link-renderer {
    margin-left: 4px;
    margin-right: 20px
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-disclaimer] tp-yt-paper-item.ytd-compact-link-renderer:focus,ytd-compact-link-renderer[compact-link-style=compact-link-style-type-disclaimer] tp-yt-paper-item.ytd-compact-link-renderer:focus::before {
    background: transparent
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-disclaimer] #endpoint.ytd-compact-link-renderer {
    cursor: auto
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-disclaimer] #label.ytd-compact-link-renderer {
    color: var(--yt-spec-text-secondary);
    white-space: normal;
    font-family: var(--font-family),"Arial",sans-serif;
    font-size: var(--body-s-size);
    line-height: var(--body-s-leading-tall);
    font-weight: var(--body-weight-default)
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-settings-sidebar] tp-yt-paper-item.ytd-compact-link-renderer {
    --paper-item-focused-before-border-radius: 10px;
    --paper-item-focused-before-background: var(--yt-spec-text-primary);
    padding: 0 16px
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-settings-sidebar][active]:hover {
    background: var(--yt-spec-additive-background)
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-settings-sidebar][active] {
    background-color: var(--yt-spec-outline)
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-settings-sidebar]:hover {
    background-color: var(--yt-spec-additive-background)
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-settings-sidebar][active] #label.ytd-compact-link-renderer {
    font-weight: 500
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-selection-menu] #content-icon.ytd-compact-link-renderer[hidden]+#primary-text-container.ytd-compact-link-renderer>#label.ytd-compact-link-renderer {
    margin-left: 40px
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-history-my-activity-link]:first-of-type {
    margin-top: 4px
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-history-my-activity-link] {
    margin-left: 32px
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-history-my-activity-link] #content-icon.ytd-compact-link-renderer[hidden]+#primary-text-container.ytd-compact-link-renderer>#label.ytd-compact-link-renderer {
    color: var(--yt-spec-text-secondary);
    font-family: var(--font-family),"Arial",sans-serif;
    font-size: var(--body-m-size);
    line-height: var(--body-m-leading-tall);
    font-weight: var(--body-weight-heavy)
}

ytd-compact-link-renderer[compact-link-style=compact-link-style-type-history-my-activity-link] tp-yt-paper-item.ytd-compact-link-renderer:focus,ytd-compact-link-renderer[compact-link-style=compact-link-style-type-history-my-activity-link] tp-yt-paper-item.ytd-compact-link-renderer:focus::before {
    background: transparent
}

#label.ytd-compact-link-renderer,#subtitle.ytd-compact-link-renderer {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

ytd-compact-product-list-renderer.ytd-popup-container {
    padding: 0 4px 0 12px;
    margin: 16px 0
}

ytd-product-details-offers-container-renderer yt-formatted-string .yt-formatted-string[style-target=bold] {
    font-size: var(--ytd-user-comment-font-size);
    font-weight: var(--ytd-user-comment-font-weight);
    line-height: var(--ytd-user-comment-line-height);
    letter-spacing: var(--ytd-user-comment-letter-spacing);
    font-family: var(--ytd-user-comment-font-family);
    color: var(--yt-formatted-string-bold-color,inherit)
}

ytd-product-details-renderer yt-formatted-string .yt-formatted-string[style-target=bold] {
    font-size: var(--ytd-user-comment-font-size);
    font-weight: var(--ytd-user-comment-font-weight);
    line-height: var(--ytd-user-comment-line-height);
    letter-spacing: var(--ytd-user-comment-letter-spacing);
    font-family: var(--ytd-user-comment-font-family);
    color: var(--ytd-user-comment-color)
}

ytd-popup-container {
    display: block;
    position: absolute;
    top: 0;
    width: 100%
}

tp-yt-paper-dialog.ytd-popup-container>*:last-child {
    margin-bottom: 24px
}

yt-multi-page-menu-section-renderer {
    display: block
}

h2.yt-multi-page-menu-section-renderer {
    color: var(--yt-spec-text-primary);
    margin: var(--ytd-margin-4x) 0 var(--ytd-margin-base) var(--ytd-margin-4x);
    font-weight: 400;
    flex: 1;
    flex-basis: 0.000000001px
}

