#section, .section{
    margin-top: var(--layout-header-height) !important;
    margin-left: var(--layout-guide-width) !important;
    min-width: var(--content-width) !important;
    min-height: calc(100% - var(--layout-header-height)) !important;
    padding: var(--content-padding) !important;
    background-color: var(--bg-primary) !important;
}

@media (max-width: 900px) {
    #section, .section {
        margin-left: 0 !important;
        min-width: 0 !important;
        padding: 16px !important;
    }
}

@media (max-width: 767px) {
    #section, .section {
        padding: 12px !important;
    }
}

@media (max-width: 560px) {
    #section, .section {
        padding: 8px !important;
    }
}
